<accordion [isAnimated]="true">
	<accordion-group heading="Module 1 - Introduction and project setup">
		<p>1. Install and run github project
			<a href="https://github.com/oopcoders/NGRX-Course/commits/master" target="blank"
			   class="badge badge-success float-right pull-right">Github</a>
		</p>
		<p>2. Resources Available - How to get the most from this course</p>
		<p>3. Checkout the project before implementing NGRX</p>
	</accordion-group>
	<accordion-group heading="Module 2 - What is NGRX and why use it">
		<p>4. What is NGRX? <a href="https://ngrx.io/docs" class="badge badge-success float-right pull-right" target="blank">Documentation</a></p>
		<p>5. Should I use NGRX?</p>
	</accordion-group>
	<accordion-group heading="Module 3 - Set up NGRX the basics">
		<p>6. Introduction to Module 3</p>
		<p>7. Install @ngrx/store library <a href="https://ngrx.io/guide/store" class="badge badge-success float-right pull-right"
			   target="blank">Documentation</a> </p>
		<p>8. Install @ngrx-store-devtools library and Chrome Redux Extension

			<a href="https://ngrx.io/guide/store-devtools" class="badge badge-success float-right pull-right" target="_blank">Documentation</a>
			<a href="https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en"
			   class="badge badge-info float-right pull-right" target="_blank">Redux DevTools</a>
		</p>
		<p>9. Install @ngrx/schematics library and generate store

			<a href="https://ngrx.io/guide/schematics" class="badge badge-success float-right pull-right" target="_blank">Documentation</a>
			<a href="https://gist.github.com/oopcoders/c356021c08ade667221c0c7fc4240722" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>10. Generate First NGRX Actions

			<a href="https://ngrx.io/guide/store/actions" class="badge badge-success float-right pull-right" target="_blank">Documentation</a>
			<a href="https://gist.github.com/oopcoders/7825f6d1058e7d00c2dd2860c3cffa7c" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>11. Generate First NGRX Reducer

			<a href="https://ngrx.io/guide/store/reducers" class="badge badge-success float-right pull-right" target="_blank">Documentation</a>
			<a href="https://gist.github.com/oopcoders/4679d63fd78e616a64fa2430269cabac" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>

		<p>12. Generate First NGRX Selector

			<a href="https://ngrx.io/guide/store/selectors" class="badge badge-success float-right pull-right" target="_blank">Documentation</a>
			<a href="https://gist.github.com/oopcoders/ee75a6d207a2c5f5d17fd02cd34543a6" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>

		<p>13. Install @ngrx/effects library and generate effect file

			<a href="https://ngrx.io/guide/effects" class="badge badge-success float-right pull-right" target="_blank">Documentation</a>
			<a href="https://gist.github.com/oopcoders/71b953fb82f29a2a6e1ef14e4c11534a" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>


		</p>

		<p>14. Create first effect

			<a href="https://gist.github.com/oopcoders/0e025b8c47fb909c57fcf2c60c8c3c79" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>
			<a href="http://localhost:4200/support" class="badge badge-danger float-right pull-right" target="_blank">Page</a>

		</p>

		<p>15. Create NGRX selector and update view

			<a href="https://gist.github.com/oopcoders/5ee34efd302418a3edc1407e947fa42b" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>
			<a href="http://localhost:4200/support" class="badge badge-danger float-right pull-right" target="_blank">Page</a>

		</p>

		<p>16. Create Action and update reducer to Clear Form

			<a href="https://gist.github.com/oopcoders/cb53554767602c892e24ab9902ca4621" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>
			<a href="http://localhost:4200/support" class="badge badge-danger float-right pull-right" target="_blank">Page</a>

		</p>
		<p>17. Conclusion

		</p>

	</accordion-group>
	<accordion-group heading="Module 4 - Implement NGRX in auth module">
		<p>18. Introduction to Module 4</p>
		<p>19. Generate auth feature using NGRX Schematics
			<a href="https://ngrx.io/guide/schematics/feature" class="badge badge-success float-right pull-right" target="_blank">Documentation</a>
			<a href="https://gist.github.com/oopcoders/f074fbfe972b73a84b3ffe0c2015eed4" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>20. Update reducer and create actions to login user
			<a href="https://gist.github.com/oopcoders/7571026464b351e6c1bf72f427759179" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>
			<a href="http://localhost:4200/auth/login" class="badge badge-danger float-right pull-right" target="_blank">Page</a>

		</p>
		<p>21. Create Spinner and Alert Message Effects for Auth State
			<a href="https://gist.github.com/oopcoders/f8f6735da0dbdf2e5956efcae03cf60a" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>
			<a href="http://localhost:4200/auth/login" class="badge badge-danger float-right pull-right" target="_blank">Page</a>

		</p>

		<p>22. Close login modal using effect
			<a href="https://gist.github.com/oopcoders/26fb448f080a66e8bd1b443464ce5331" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>23. Select properties from state using selector
			<a href="https://gist.github.com/oopcoders/44037f92ef8e75daf9ffe57c7cc65b81" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>24. Logout user with effects/actions and reducer
			<a href="https://gist.github.com/oopcoders/bd57f274c6f2719a0f6c852ed5b45579" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>25. Set user state in store on browser reload
			<a href="https://gist.github.com/oopcoders/14682a4efeac9e2f932ca41a800e4306" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>26. Create global selector for header component
			<a href="https://gist.github.com/oopcoders/e90c06b40f18cdbbac66b46d277d0eb4" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>27. Use NGRX select method to get user
			<a href="https://gist.github.com/oopcoders/aaa16515ca0003861518d540f3a8c0c3" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>28. Remove user from auth service and update admin guard file
			<a href="https://gist.github.com/oopcoders/c5c1195233bba1ab8e7650f9dc2798a9" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>29. Conclusion

		</p>

	</accordion-group>
	<accordion-group heading="Module 5 - Use NGRX tools and Runtime Checks">
		<p>30. Set up run time checks
			<a href="https://gist.github.com/oopcoders/40016f571fbcdbfdd1d1c39ce42e97b3" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a></p>
		<p>31. Install and use NGRX router store library
			<a href="https://ngrx.io/guide/router-store/install" class="badge badge-success float-right pull-right" target="_blank">Documentation</a>
			<a href="https://gist.github.com/oopcoders/c86a651a09f016a18beb3d6628a4f14c" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>32. How to use meta reducers
			<a href="https://ngrx.io/guide/store/metareducers" class="badge badge-success float-right pull-right" target="_blank">Documentation</a>
			<a href="https://gist.github.com/oopcoders/bdaece00d6567a40d24ac00d070f0d66" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
	</accordion-group>

	<accordion-group heading="Module 6 - Implement @ngrx/entity into products section">
		<p>33. Introduction to module 6
		<p>34. Generate products feature state with @ngrx/entity
			<a href="https://ngrx.io/guide/entity" class="badge badge-success float-right pull-right" target="_blank">Documentation</a>
			<a href="https://gist.github.com/oopcoders/f434f036b1997122ad66e591af7deece" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>35. Load a list of products
			<a href="https://gist.github.com/oopcoders/7195567bb3e97fe3f1f2b6bd3bd1b2ab" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>36. Adding additional entity state properties
			<a href="https://gist.github.com/oopcoders/54c9383d8e49438f5b16663c57c42993" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>37. Create selectors to get products view model
			<a href="https://gist.github.com/oopcoders/696e2dab75eba3152d834ebb3949e79b" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>38. Create side effects for spinner and alerts
			<a href="https://gist.github.com/oopcoders/0581415513c71e5caaea1355bbeac49e" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>39. Sort products in alphabetical order using sortComparer configuration
			<a href="https://gist.github.com/oopcoders/9616492902d987560e2ea0d10b303e8a" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>40. Select single product from store by id if product is in store
			<a href="https://gist.github.com/oopcoders/900eec29ca239179f6c0ec91a3adefcb" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>41. Load individual product by id
			<a href="https://gist.github.com/oopcoders/259c9f19917d958bccf6d5745c641666" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>42. Create spinner side effect for loadproduct
			<a href="https://gist.github.com/oopcoders/a35c952180fe2f5e62417ce68a910e92" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>43. Add new product
			<a href="https://gist.github.com/oopcoders/a0596e406346d70bdcc07bfab478ceb5" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>44. Update product using upsertOne NGRX entity adapter method
			<a href="https://gist.github.com/oopcoders/ff23b6c43597bbf3d07bb0b9406ac212" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>45. Remove product using removeOne NGRX entity adapter method
			<a href="https://gist.github.com/oopcoders/92784f39e720274855a3bacf2ed4e5ea" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
	</accordion-group>

</accordion>