<accordion [isAnimated]="true">
	<accordion-group heading="Module 1 - Introduction and project setup">
		<p>1. Install and run github project
			<a href="#" target="blank" class="badge badge-success float-right pull-right">Github</a>
		</p>
		<p>2. Resources Available - How to get the most from this course</p>
		<p>3. Checkout the project before implementing NGRX</p>
	</accordion-group>
	<accordion-group heading="Module 2 - What is NGRX and why use it">
		<p>4. What is NGRX? <a href="https://ngrx.io/docs" class="badge badge-success float-right pull-right" target="blank">Documenation</a></p>
		<p>5. Should I use NGRX?</p>
	</accordion-group>
	<accordion-group heading="Module 3 - Set up NGRX the basics">
		<p>6. Introduction to Module 3</p>
		<p>7. Install @ngrx/store library <a href="https://ngrx.io/guide/store" class="badge badge-success float-right pull-right"
			   target="blank">Documenation</a> </p>
		<p>8. Install @ngrx-store-devtools library and Chrome Redux Extension

			<a href="https://ngrx.io/guide/store-devtools" class="badge badge-success float-right pull-right" target="_blank">Documenation</a>
			<a href="https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en"
			   class="badge badge-info float-right pull-right" target="_blank">Redux DevTools</a>
		</p>
		<p>9. Install @ngrx/schematics library and generate store

			<a href="https://ngrx.io/guide/schematics" class="badge badge-success float-right pull-right" target="_blank">Documenation</a>
			<a href="https://gist.github.com/oopcoders/c356021c08ade667221c0c7fc4240722" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>10. Generate First NGRX Actions

			<a href="https://ngrx.io/guide/store/actions" class="badge badge-success float-right pull-right" target="_blank">Documenation</a>
			<a href="https://gist.github.com/oopcoders/7825f6d1058e7d00c2dd2860c3cffa7c" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>
		<p>11. Generate First NGRX Reducer

			<a href="https://ngrx.io/guide/store/reducers" class="badge badge-success float-right pull-right" target="_blank">Documenation</a>
			<a href="https://gist.github.com/oopcoders/4679d63fd78e616a64fa2430269cabac" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>

		<p>12. Generate First NGRX Selector

			<a href="https://ngrx.io/guide/store/selectors" class="badge badge-success float-right pull-right" target="_blank">Documenation</a>
			<a href="https://gist.github.com/oopcoders/ee75a6d207a2c5f5d17fd02cd34543a6" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>

		<p>13. Install @ngrx/effects library and generate effect file

			<a href="https://ngrx.io/guide/effects" class="badge badge-success float-right pull-right" target="_blank">Documenation</a>
			<a href="https://gist.github.com/oopcoders/71b953fb82f29a2a6e1ef14e4c11534a" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>


		</p>

		<p>14. Create first effect

			<a href="https://gist.github.com/oopcoders/0e025b8c47fb909c57fcf2c60c8c3c79" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>
			<a href="http://localhost:4200/support" class="badge badge-danger float-right pull-right" target="_blank">Page</a>

		</p>

		<p>15. Create NGRX selector and update view

			<a href="https://gist.github.com/oopcoders/5ee34efd302418a3edc1407e947fa42b" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>
			<a href="http://localhost:4200/support" class="badge badge-danger float-right pull-right" target="_blank">Page</a>

		</p>

		<p>16. Create Action and update reducer to Clear Form

			<a href="https://gist.github.com/oopcoders/cb53554767602c892e24ab9902ca4621" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>
			<a href="http://localhost:4200/support" class="badge badge-danger float-right pull-right" target="_blank">Page</a>

		</p>
		<p>17. Conclusion

		</p>

	</accordion-group>

	<accordion-group heading="Module 4 - Implement NGRX in auth module">
		<p>18. Introduction to Module 4</p>
		<p>19. Generate auth feature using NGRX Schematics
			<a href="https://ngrx.io/guide/schematics/feature" class="badge badge-success float-right pull-right" target="_blank">Documenation</a>
			<a href="https://gist.github.com/oopcoders/f074fbfe972b73a84b3ffe0c2015eed4" class="badge badge-warning float-right pull-right"
			   target="_blank">Snippets</a>

		</p>



	</accordion-group>

</accordion>