<accordion [isAnimated]="true">
	<accordion-group heading="Module 1 - Introduction and project setup">
		<p>1. Install and run github project
			<a href="#" target="blank" class="badge badge-success float-right pull-right">Github</a>
		</p>
		<p>2. Resources Available - How to get the most from this course</p>
		<p>3. Checkout the project before implementing NGRX</p>
	</accordion-group>
	<accordion-group heading="Module 2 - What is NGRX and why use it">
		<p>4. What is NGRX? <a href="https://ngrx.io/docs" class="badge badge-success float-right pull-right" target="blank">Documenation</a></p>
		<p>5. Should I use NGRX?</p>
	</accordion-group>
	<accordion-group heading="Module 3 - Set up NGRX the basics">
		<p>6. Introduction to Module 3</p>
		<p>7. Install @ngrx/store library <a href="https://ngrx.io/guide/store" class="badge badge-success float-right pull-right"
			   target="blank">Documenation</a> </p>

	</accordion-group>

</accordion>