<div class="row">
	<div class="login-form mt-5 col-md-8 offset-2">
		<h3>Login</h3>
		<form #f="ngForm" (ngSubmit)="onSubmit(f)">
			<div class="form-group">
				<label for="usernamelogin">Username</label>
				<input type="text" name="username" ngModel #username required id="usernamelogin" class="form-control" placeholder="user or admin">
			</div>
			<div class="form-group">
				<label for="passwordlogin">Password</label>
				<input type="password" name="password" ngModel #password required id="passwordlogin" class="form-control" placeholder="Password"
					   autocomplete>
			</div>
			<button type="submit" [disabled]=f.invalid class="btn btn-primary btn-lg"><span>Login <i class="fas fa-sign-in-alt"></i></span></button>

		</form>

	</div>
</div>