<header class="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container">
			<a class="navbar-brand" [routerLink]="['home']">NGRX</a>

			<div class="collapse navbar-collapse" id="navbarColor01" *ngIf="vm$ | async as vm">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/shopping/products']">Go Shopping</a>
					</li>
					<div class="btn-group" dropdown *ngIf="vm.isAdmin">
						<button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
							Admin <span class="caret"></span>
						</button>
						<ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
							<li role="menuitem"><a class="dropdown-item" [routerLink]="['/shopping/product-list']">Products</a></li>
							<li role="menuitem"><a class="dropdown-item" [routerLink]="['/category/list']">Categories</a></li>

						</ul>
					</div>
				</ul>
				<ul class="navbar-nav" *ngIf="vm.isLoggedin">
					<li class="nav-item">
						<app-cart-link-widget></app-cart-link-widget>
					</li>

				</ul>
			</div>
		</div>

	</nav>
</header>