<div class="row justify-content-center">
	<div class="col-8 mt-4">
		<h4>Add Product</h4>
		<form #f="ngForm" (ngSubmit)="onSubmit(f)">
			<div class="form-group">
				<label for="productName">Product Name</label>
				<input type="text" ngModel required name="name" class="form-control" id="productName" placeholder="Name">
			</div>
			<div class="mb-3 form-group">
				<label for="productDescription">Description</label>
				<textarea class="form-control" ngModel name="description" class="form-control" id="productDescription"
						  placeholder="Product Description"></textarea>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="productPrice">Price</label>
					<input type="text" name="price" ngModel required class="form-control" id="productPrice" placeholder="Example: 000.00">
				</div>
				<div class="form-group col-md-6">
					<label for="productQuantity">Quantity</label>
					<input type="number" name="quantity" required ngModel class="form-control" id="productQuantity" placeholder="Example: 100">
				</div>
			</div>
			<div class="form-group">
				<label for="productImageUrl">Image Url</label>
				<input type="text" name="imageUrl" ngModel required class="form-control" id="productImageUrl"
					   placeholder="Example: https://source.unsplash.com/1600x900/?product">
			</div>
			<button class="btn btn-primary m-1" [routerLink]="['/admin/product-list']"><i class="fas fa-arrow-left"></i> Back To List</button>
			<button class="btn btn-success m-1" type="submit" [disabled]="f.invalid">Add Product <i class="fas fa-plus"></i></button>
		</form>

	</div>
</div>