@import "~bootswatch/dist/cosmo/variables";
.customer-support-button-container {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
.support-out-icon {
  font-size: 30px;
  border: solid $gray-400 2px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  padding: 10px;
  text-align: center;
  background-color: $success;
  color: $light;
}
