<div *ngIf="vm$ | async as vm">
	<h3 class="mt-4 mb-4">Customer Support</h3>

	<div>
		<div>
			<div class="row">
				<div class="col-10">
					<h4 class="mt-2">We are here to help!</h4>
				</div>
				<div class="col-2">
					<div class="support-out-icon"><i class="fas fa-hands-helping"></i></div>
				</div>
			</div>
			<form #f="ngForm" (ngSubmit)="onSubmit(f)">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputName">Name</label>
						<input type="text" class="form-control" id="inputName" name="name" ngModel>
					</div>
					<div class="form-group col-md-6">
						<label for="inputEmail">Email</label>
						<input type="text" class="form-control" id="inputEmail" name="email" ngModel>
					</div>
				</div>
				<div class="form-group">
					<label for="inputMessage">Message</label>
					<textarea class="form-control" id="inputMessage" rows="3" ngModel name="message"></textarea>
				</div>
				<ng-container *ngIf="vm.isSentSuccess != null">
					<div class="alert alert-dismissible alert-success" *ngIf="vm.isSentSuccess">
						<button type="button" class="close" data-dismiss="alert" (click)="clearFeedback()">&times;</button>
						<strong>We got your message {{vm.name}}!</strong> We will be in touch.
					</div>
					<div class="alert alert-dismissible alert-danger" *ngIf="!vm.isSentSuccess">
						<button type="button" class="close" data-dismiss="alert" (click)="clearFeedback()">&times;</button>
						<strong>Oh snap!</strong> Unable to send message. Please contact us at our customer support line at 123-456-7890.
					</div>
				</ng-container>


				<div class="mt-5">
					<button type="submit" class="btn btn-success">Send Message <i class="fas fa-paper-plane"></i></button>
				</div>

			</form>
		</div>
	</div>
</div>